.wrapper{
    display: flex;
    height: auto;
    max-height:2000px;
    max-width: 2000px;
    align-self: center;
    
}

.wrapper img{
    flex: 1;
    width: 25%;
    height: auto;
}

.flex-container{
    align-items: center;
    background: linear-gradient(to right, #4aa9d1, #99d1e9);
    justify-content: center;
    flex: 1;

}
